.btn-margin {
    margin-top: 7px
}

#interview-view,
#onboarding-view,
#profile-view,
#ping-view {
    display: none;
}

.profile-area img {
    max-width: 150px;
    margin-bottom: 20px;
}

.panel-body h3 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}
