.btn-margin {
    margin-top: 7px
}

.profile-area img {
    max-width: 150px;
    margin-bottom: 20px;
}

.panel-body h3 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: purple;
}

h2 {
    color: blue;
}

/* Error View Styles */
#error-view {
    color: red;
}

/* Interview View Styles */
#interview-view {
    padding: 20px;
}

/* Upcoming Interviews Table Styles */
#upcomingInterviews {
    border-collapse: collapse;
    width: auto; /* Use auto width to fit the content */
    margin-bottom: 20px; /* Add some spacing at the bottom */
}

#upcomingInterviews th,
#upcomingInterviews td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#upcomingInterviews th {
    background-color: purple;
    color: white;
}

/* Schedule Interview Form Styles */
#interview-schedule-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 20px;
}

#interview-schedule-form label {
    color: blue;
    margin-bottom: 5px;
}

#interview-schedule-form select,
#interview-schedule-form input[type="text"],
#interview-schedule-form input[type="checkbox"],
#interview-schedule-form input[type="datetime-local"],
#interview-schedule-form button {
    margin-bottom: 10px;
    padding: 8px;
}

#interview-schedule-form button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

/* Preferred Times Table Styles */
#preferredTimes {
    border-collapse: collapse;
    width: auto; /* Use auto width to fit the content */
    margin-bottom: 20px; /* Add some spacing at the bottom */
}

#preferredTimes th,
#preferredTimes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#preferredTimes th {
    background-color: purple;
    color: white;
}

/* Preferred Time Form Styles */
#preferred-time-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 20px;
}

#preferred-time-form label {
    color: blue;
    margin-bottom: 5px;
}

#preferred-time-form input[type="datetime-local"],
#preferred-time-form button {
    margin-bottom: 10px;
    padding: 8px;
}

#preferred-time-form button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.collapsible-heading {
    cursor: pointer;
}

.delete-button {
    /* Add any button styling you want here */
    background-color: #f0f0f0;
    padding: 10px;
    border: none;
    background-image: url("assets/trash.svg");
    background-size: 20px 20px; /* Adjust the SVG size as needed */
    background-repeat: no-repeat;
    background-position: center; /* Center the SVG within the button */
}

label {
    padding-right: 20px;
}
